body {
  background-color: darkgray;
  /* background-image: url("jonny-caspari-TQGpLw48VsU-unsplash.jpg"); */
  background-image: url("norbert-buduczki-Ulbl1i3wxIM-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem;
}

main {
  align-items: center;
  display: flex;
  height: calc(100vh - 2rem);
  justify-content: center;
  margin: 0 1rem;
}

#container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  height: 30%;
  padding: 1rem;
  width: 100%;
}

#timer {
  height: 100%;
}

#timer-input {
  height: 80%;
}

#timer-buttons {
  height: 20%;
}

#time {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 3rem;
  height: 100%;
  text-align: center;
  width: 100%;
}

#timer-buttons {
  text-align: center;
}

.timer-button {
  border: 1px solid #575b66;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.75rem;
  width: 8rem;
}

.timer-button:hover {
  background-color: #575b66;
  border: black;
  color: white;
}

.timer-button:active {
  background-color: white;
  border: black;
  color: #575b66;
}

footer {
  color: #dedede;
  font-size: 0.75rem;
  height: 1rem;
}

footer a {
  color: aqua;
}

/* media query for less than 300px */
@media only screen and (max-width: 299px) {
  #container {
    background-color: green;
  }
}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
  #container {
    background-color: yellow;
  }
}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
  #container {
    background-color: blue;
  }
}
