input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: darkgray;
  /* background-image: url("jonny-caspari-TQGpLw48VsU-unsplash.jpg"); */
  background-image: url("norbert-buduczki-Ulbl1i3wxIM-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem;
}

main {
  align-items: center;
  display: flex;
  height: calc(100vh - 2rem);
  justify-content: center;
  margin: 0 1rem;
}

#container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  height: 40%;
  padding: 1rem;
  width: 100%;
}

#timer {
  height: 100%;
}

#timer-input {
  height: 80%;
}

#timer-buttons {
  height: 20%;
  text-align: center;
}

#time-entry {
  background-color: transparent;
  border: none;
  caret-color: transparent;
  color: black;
  font-size: 2.75rem;
  height: 100%;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

#time {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 3rem;
  height: 100%;
  text-align: center;
  width: 100%;
}

.timer-button {
  border: 1px solid #575b66;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 100%;
  margin: 0 4px 0 4px;
  width: 8rem;
}

.timer-button:hover {
  background-color: #575b66;
  border: black;
  color: white;
}

.timer-button:active {
  background-color: white;
  border: black;
  color: #575b66;
}

footer {
  color: #dedede;
  font-size: 0.75rem;
  height: 1rem;
}

footer a {
  color: aqua;
}

/* media query for less than 300px */
@media only screen and (max-width: 299px) {
  #container {
    width: 100%;
  }

  #time {
    font-size: 2rem;
  }

  .timer-button {
    font-size: 0.95rem;
    margin: 0 4px 0 4px;
    width: 4rem;
  }
}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
  #container {
    height: 50%;
  }

  #time {
    font-size: 5rem;
  }

  .timer-button {
    font-size: 2rem;
    margin: 0 6px 0 6px;
    width: 10rem;
  }
}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
  #container {
    height: 60%;
    width: 90%;
  }

  #time {
    font-size: 5rem;
  }

  .timer-button {
    font-size: 2.125rem;
    margin: 0 6px 0 6px;
    width: 12rem;
  }
}

@media only screen and (min-width: 1024px) {
  #container {
    height: 60%;
    width: 90%;
  }

  #time {
    font-size: 8rem;
  }

  .timer-button {
    font-size: 3rem;
    margin: 0 8px 0 8px;
    width: 14rem;
  }
}

@media only screen and (min-width: 1440px) {
  #container {
    height: 60%;
    width: 90%;
  }

  #time {
    font-size: 10rem;
  }

  .timer-button {
    font-size: 3rem;
    margin: 0 10px 0 10px;
    width: 16rem;
  }
}

@media only screen and (min-width: 2560px) {
  #container {
    height: 60%;
    width: 90%;
  }

  #time {
    font-size: 18rem;
  }

  .timer-button {
    font-size: 6rem;
    margin: 0 10px 0 10px;
    width: 24rem;
  }
}
